<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ assetsUrl('wits.png') }}" type="image/x-icon">
    <title>Wits Panel</title>
</head>
<body>

    <h1> Hola, Jefe! </h1>
    <h4> Bienvenido a Wits Panel </h4>

    <br>

    <a href="{{route('employees.index')}}">Empleados</a>

</body>
</html>