@layout('layouts.main')
@section('content')
<h1>Agregar Empleado</h1>
<div>
    <form action="{{route('employees.store')}}" method="post">
        {{ csrfField() }}
        <input name="name" placeholder="Nombre" type="text">
        <br>
        <input name="position" placeholder="Puesto" type="text">
        <br>
        <input name="salary" placeholder="Salario" type="number">
        <br>
        <input type="submit" value="Agregar">
    </form>
</div>
@endsection