<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wits Panel</title>
</head>
<body>
    <a href="{{route('index')}}">Volver</a>
    <h1>Empleados</h1>
    <div>
        @each(employee in employees)
            <div>
                <h3>{{employee.name}}</h3>
                <b>Puesto: </b> <span> {{employee.position}} </span>
                <br>
                <b>Sueldo: </b> <span>${{employee.salary}}</span>
                <br>
            </div>
        @endeach
    </div>
</body>
</html>